#PRISMA
DB_USER="your_user"
DB_PASSWORD="your_password"
DB_NAME="your_database_name"
DATABASE_URL=""

#NEXTAUTH
AUTH_SECRET=""
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""

#PAYPAL
# https://developer.paypal.com/dashboard/applications
NEXT_PUBLIC_PAYPAL_CLIENT_ID=""
PAYPAL_CLIENT_SECRET=""
# POST
PAYPAL_OAUTH_URL=https://api-m.sandbox.paypal.com/v1/oauth2/token
#GET
PAYPAL_ORDERS_URL=https://api.sandbox.paypal.com/v2/checkout/orders